---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.jsx"
import Home from "../components/Home.astro"
import Experiencie from "../components/Experiencie.astro"
import Projects from '../components/Projects.astro';
import Footer from "../components/Footer.astro"

---

<Layout title="Christopher Romero - Desarrollador Frontend Junior React">
	<Header client:load/>
	<main>
		<Home />
		<Experiencie />
		<Projects />
	</main>
	<Footer />
</Layout>

