---
import Person from "../icons/astro/Person.astro"
---

<section id="#sobre-mi" class="container w-full mx-auto md:max-w-2xl lg:max-w-4xl">
  <div class="px-4 py-8 sm:py-10 md:py-16">
    <h2 class="flex gap-2 items-center font-semibold text-xl sm:text-2xl md:text-3xl tracking-wide">
      <Person class="size-8" />
      Sobre mi
    </h2>

    <div class="mt-16 flex flex-col items-center md:flex-row-reverse gap-5 md:gap-10">
      <img src="/about.png" class="rounded-md rotate-2 w-full max-w-[300px] mx-auto" alt="">
      <div class="flex flex-col gap-3">
        <p class="lg:text-lg leading-relaxed">Mis amigos me dicen Chris, <span class="text-cyan-200">fascinado por entender y experimentar software</span> desde una edad joven.</p>
        <p class="lg:text-lg leading-relaxed">Estoy participando en actividades extracurriculares relacionadas con tecnología, y <span class="text-cyan-200">aplicando mis conocimientos en proyectos prácticos.</span></p>
        <p class="lg:text-lg leading-relaxed">Me enfrento a <span class="text-cyan-200">desafíos al momento de desarrollar proyectos tecnológicos personales</span>, con el objetivo de contribuir significativamente al campo tecnológico.</p>
      </div>
    </div>
  </div>
</section>