---
import Github from "../icons/astro/Github.astro"
import Linkedin from "../icons/astro/Linkedin.astro"
---

<section id="inicio" class="container w-full mx-auto md:max-w-2xl lg:max-w-4xl">
  <div class="px-2 py-8 sm:py-10 md:py-16">
    <div class="flex items-center gap-5 mb-5 sm:mb-6 md:mb-8">
      <img class="size-16 sm:size-20 md:size-24 rounded-full" src="/perfil.jpg" alt="Christopher Romero Avendaño sonriendo a la camara">
      <a class="inline-block border text-xs sm:text-sm border-sky-400 bg-sky-400/10 rounded-full px-2 sm:px-4 py-1" href="https://www.linkedin.com/in/chris-dev-software/" target="_blank">Disponible para trabajar</a>
    </div>
    <h1 class="text-[42px] sm:text-5xl md:text-6xl leading-none font-semibold mb-4 sm:mb-5">Hola, Soy Christopher</h1>
    <p class="text-neutral-300 text-pretty text-lg sm:text-xl max-w-2xl font-medium md:leading-relaxed mb-4 sm:mb-5">
      +1 año de experiencia en proyectos personales.
      <span class="text-cyan-300">Ingeniero de sistemas cursando el 9no ciclo de la carrera.</span>
      Inclinado en el desarrollo de aplicaciones web
    </p>
    <div class="flex items-center gap-2">
      <a class="flex gap-2 items-center border border-sky-400 bg-sky-400/10 rounded-full px-4 py-1" href="https://www.linkedin.com/in/chris-dev-software/" target="_blank">
        <Linkedin />
        <span class="text-sm sm:text-base">Linkedin</span>
      </a>
      <a class="flex gap-2 items-center border border-sky-400 bg-sky-400/10 rounded-full px-4 py-1" href="https://github.com/chris-dev-software" target="_blank">
        <Github />
        <span class="text-sm sm:text-base">Github</span>
      </a>
    </div>
  </div>
</section>